@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Common styles */
.section-title {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  background-color: #404040;
  top: 50%;
  left: 0;
  z-index: -2;
}
.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  background-color: #404040;
  top: 50%;
  right: 0;
  z-index: -2;
}

.section-title span {
  background-color: #f2f2f2;
}
